:root {
  --typography-font-family-base: 'Inter', sans-serif;
  --typography-font-size-m: 14px;
  --typography-font-size-s: 12px;
  --typography-font-weight-bold: 700;
  --typography-line-height-base: 1.5;
  --spacing-0: 0px;
  --spacing-4xs: 2px;
  --spacing-3xs: 4px;
  --spacing-2xs: 8px;
  --spacing-xs: 12px;
  --spacing-s: 16px;
  --spacing-m: 20px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-2xl: 48px;
  --color-inverse: #1B2134;
  --color-inverse-hover: #343A4E;
  --color-inverse-active: #585D71;
  --color-on-inverse: #FFFFFF;
  --color-on-neutral: #1B2134;
  --color-surface-high: #F1F1F7;
  --color-surface-positive: #B1FFC7;
  --color-surface-negative: #FFBFB1;
  --color-surface-hover: #F6F6FA;
  --color-surface-active: #F1F1F7;
  --color-outline: #D3D3DC;
  --color-outline-hover: #C4C5CF;
  --color-background: #eee;
  --color-content: #222;
  --borderRadius-tab-pill: 100px;
  --borderRadius-tab-underline: 2px;
  --borderRadius-badge-dsk: 12px;
  --borderRadius-badge: 8px;
  --border-width-1: 1px;
  --border-width-2: 2px;
  --border-width-3: 3px;
  --height-tab: 42px;
  --height-tab-dsk: 50px;
  --outline-focus-ring-offset: 2px;
}