:root {
  --breakpoints-tablet: 768px;
  --typography-font-family-base: 'Inter', sans-serif;
  --typography-font-size-m: 14px;
  --typography-font-size-s: 12px;
  --typography-font-weight-bold: 700;
  --typography-line-height-base: 1.5;
  --spacing-0: 0px;
  --spacing-4-x-s: 2px;
  --spacing-3-x-s: 4px;
  --spacing-2-x-s: 8px;
  --spacing--x-s: 12px;
  --spacing--s: 16px;
  --spacing--m: 20px;
  --spacing--l: 24px;
  --spacing--x-l: 32px;
  --spacing-2-x-l: 48px;
  --color-inverse: #1B2134;
  --color-inverse-hover: #343A4E;
  --color-inverse-active: #585D71;
  --color-on-inverse: #FFFFFF;
  --color-on-neutral: #1B2134;
  --color-surface-high: #F1F1F7;
  --color-surface-positive: #B1FFC7;
  --color-surface-negative: #FFBFB1;
  --color-surface-hover: #F6F6FA;
  --color-surface-active: #F1F1F7;
  --color-out-line: #D3D3DC;
  --color-out-line-hover: #C4C5CF;
  --color-black: #000000;
  --color-background: #eee;
  --color-content: #222;
  --borderRadius-pill-button: 100px;
  --borderRadius-badge: 12px;
  --borderRadius-badge-mobile: 8px;
  --border-size1: 1px;
  --border-size2: 2px;
  --border-size3: 3px;
}
