@use "../../../styles/mixins.scss" as *;

.tab-pill {
  @include font-body-M;

  color: var(--color-on-neutral);
  font-weight: var(--typography-font-weight-bold);
  border: var(--border-width-1) solid var(--color-outline);
  border-radius: var(--borderRadius-tab-pill);
  height: var(--height-tab);
  padding: var(--spacing-0) var(--spacing-xs);
  gap: var(--spacing-2xs);

  @include bp-tablet-up {
    height: var(--height-tab-dsk);
    padding: var(--spacing-0) var(--spacing-s);
  }

  &:hover {
    background-color: var(--color-surface-hover);
    border-color: var(--color-outline-hover);
  }

  &:active {
    background-color: var(--color-surface-active);
    border-color: var(--color-outline);
  }

  &:focus-visible {
    outline: var(--border-width-2) solid var (--color-inverse);
    outline-offset: var(--outline-focus-ring-offset);
  }

  &[aria-selected='true'] {
    background-color: var(--color-inverse);
    color: var(--color-on-inverse);

    &:hover {
      background-color: var(--color-inverse-hover);
    }

    &:active {
      background-color: var(--color-inverse-active);
    }

    &:focus-visible {
      outline: var(--border-width-2) solid var(--color-inverse);
      outline-offset: var(--outline-focus-ring-offset);
    }
  }
}

.tab-underline {
  @include font-body-M;

  position: relative;
  color: var(--color-on-neutral);
  font-weight: var(--typography-font-weight-bold);
  border-radius: var(--borderRadius-tab-underline);
  height: var(--height-tab);
  padding-bottom: 3px;
  gap: var(--spacing-2xs);

  @include bp-tablet-up {
    height: var(--height-tab-dsk);
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--border-width-3);
    border-radius: var(--borderRadius-tab-underline);
    background-color: transparent;
    transition: background-color 0.2s ease;
  }

  &:hover, &:active, &:focus-visible  {
    &::after {
      background-color: var(--color-outline-hover);
    }
  }

  &:focus-visible {
    outline: var(--border-width-2) solid var(--color-inverse);
    outline-offset: var(--outline-focus-ring-offset);
  }

  &[aria-selected='true'] {
    &, &:hover, &:active, &:focus-visible  {
      &::after {
        background-color: var(--color-inverse);
      }
    }
  }
}